body{
    background-color: rgb(197, 109, 74);
}

.menu{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: sienna;
    font-weight: 600;
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
}

.menu li{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 25px;
    display: inline-block;
    width: 150px;
    height: 65px;
    padding: 5px;
}

.titulo{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    border: 1px rgb(129, 41, 5);
    background-color: rgb(207, 138, 110);
    border-radius: 15%;
}

a{
    font-size: x-large;
}

button:hover{
    background-color: darksalmon;
    border: 2px sandybrown;
    color: lightsalmon;
}

button{
    background-color: rgb(224, 151, 54);
    border: 1px lightsalmon;
    text-align: center;
    border: 1px rgb(155, 52, 4);
}

.boton{
    text-align: center;
}

footer{
    text-align: center;
    background-color: rgb(109, 51, 9);
    color: azure;
    border: 1px lightsalmon;
}

#chiquito{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 20px 0;
    position: relative;
    width: 100%;
    

}

#premium{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 20px 0;
    position: relative;
    width: 100%;

}

#volador{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 20px 0;
    position: relative;
    width: 100%;

}

#mamao{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 20px 0;
    position: relative;
    width: 100%;

}

#Don-Juam{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 20px 0;
    position: relative;
    width: 100%;
    
}

#a2{
    text-align: center;
    border: 1px rgb(150, 56, 46);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(150, 74, 13);
    margin:0 ;
    padding: 20px 0;
}

.parrafo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

#a3{
    text-align: center;
    border: 1px rgb(150, 56, 46);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(150, 74, 13);
    margin:0 ;
    padding: 20px 0;
}


